$dark: #0a0b10;
$black: #000;
$white: #fafafa;
$grey: #f5f5f5;
$highlight: #e3e6e8;

$serif: sans-serif;
$inter: "IBM Plex Sans";

@mixin mobile {
  @media screen and (max-width: 730px) {
    @content;
  }
}
